<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" id="movie-title" />
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="rating">Rating</label>
            <input type="text" name="rating" class="form-control" id="movie-rating" />
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label>Category</label>
            <select id="movie-category">

            </select>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="score">Score : </label>
            <input type="text" name="score" class="form-control" id="movie-score" />
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="length">Length</label>
            <input type="text" name="length" class="form-control" id="movie-length" />
        </div>
    </div>
    <div class="col-sm-12">
        <div class="form-group">
            <label for="date">Release Date</label>
            <input type="text" name="date" class="form-control" id="movie-date" />
        </div>
    </div>
    <hr />
    <div class="col-sm-12">
        <div class="form-group">
            <button type="button" id="save-btn">Save</button>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $.ajax({
            url: "http://localhost:57331/api/categories/getallcategories",
            method: 'GET',
            success: function (result) {
                for (var i = 0; i < result.length; i++) {
                    var newOption = "<option value='" + result[i].Name + "'>" + result[i].Name + "</option>";
                    $("#movie-category").append(newOption);
                }
            },
            error: function(err) {
                alert('error');
            }
        });

        $("#save-btn").click(function () {
            var request = {
                Title: $("#movie-title").val(),
                Rating: $("#movie-rating").val(),
                CategoryName: $("#movie-category").val(),
                AverageScore: $("#movie-score").val(),
                ReleaseDate: $("#movie-date").val(),
                Length: $("#movie-length").val(),
            };
            console.log(request);
            debugger;
            $.ajax({
                url: "http://localhost:57331/api/movies",
                method: 'POST',
                data: request,
                success: function () {
                    window.location.href = "/movies";
                },
                error: function (err) {
                    alert('update error');
                }
            })
        })


    </script>    
}
